<app-bread-crumbs></app-bread-crumbs>

<section>
    <div class="container">
        <div class="product-details">
            <div class="sidebar-photos">
                <img class="sidebar-photo" src="../../../assets/product/p1.jpg" alt="product 1">
                <img class="sidebar-photo" src="../../../assets/product/p2.jpg" alt="product 2">
                <img class="sidebar-photo" src="../../../assets/product/p3.jpg" alt="product 3">
                <img class="sidebar-photo" src="../../../assets/product/p4.jpg" alt="product 4">
                <div class="sidebar-photo flex-justify-items-center text-center">
                    <p>25+</p>
                </div>
            </div>
            <div class="main-photo-wrapper">
                <img class="main-photo" src="../../../assets/product/p4.jpg" alt="product 1">
            </div>
            <div class="description-section">
                <div class="heading">Apple Iphone 16 Pro, 256 GB</div>
                <div class="sub-heading">
                    <img class="icon" src="../../../assets/icons/star.svg" alt=""> 4.1 |
                    <img class="icon" src="../../../assets/icons/notifications_bell.svg" alt=""> Monitor Price |
                    <img class="icon" src="../../../assets/icons/compare.svg" alt=""> Compare
                </div>
                <div class="description-text">
                    Experience the next generation Or mobile technology with the iPhone 16 Pro Max 2S6GB,
                    equipped with the Apple AIB Pro chip and tast SG connection. Read more
                </div>
                <div class="link">Compare prices from SEK 17.190 to SEK 22,038 • Investment1inMahilephQnes</div>
                <div class="button-section">
                    <button class="button">1 TB</button>
                    <button class="button active">256 GB</button>
                    <button class="button">512 GB</button>
                </div>
                <div class="button-section">
                    <button class="button active">All</button>
                    <button class="button">Black</button>
                    <button class="button">White</button>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="product-tabs">
    <div class="container">
        <div class="tabs-heading">
            <div class="tab active">Prices</div>
            <div class="tab">Reviews</div>
            <div class="tab">Price Development</div>
            <div class="tab">About the Product</div>
            <div class="tab">Specifications</div>
        </div>
    </div>
    <div class="tab-body">
        <div class="container">
            <div class="filter">
                <div class="button-section">
                    <button class="button">
                        <img class="text-black" src="../../../assets/icons/filter.svg" alt="">
                    </button>
                    <button class="button active">Only in stock</button>
                    <button class="button">Price with shipping</button>
                    <button class="button">Delivery options</button>
                </div>
                <div class="button-section">
                    <button class="button">Recommended</button>
                </div>
            </div>
            <div class="price-list">
                <div class="price-box">
                    <div class="price-head">
                        <img class="arrow vr" src="../../../assets/icons/keyboard_arrow.svg" alt="">
                        <div>Logo Macrent</div>
                    </div>
                    <div class="hr"></div>
                    <div class="price-body">
                        <p class="title">
                            Apple Iphone 16 Pro, 256 GB
                        </p>
                        <p class="details">
                            <span class="shipping">Free shipping, 2-3 Days</span>
                            <span class="price">SEK 18,724</span>
                        </p>
                    </div>
                </div>
                <div class="price-box">
                    <div class="price-head">
                        <img class="arrow vr" src="../../../assets/icons/keyboard_arrow.svg" alt="">
                        <div>Logo Macrent</div>
                    </div>
                    <div class="hr"></div>
                    <div class="price-body">
                        <p class="title">
                            Apple Iphone 16 Pro, 256 GB
                        </p>
                        <p class="details">
                            <span class="shipping">Free shipping, 2-3 Days</span>
                            <span class="price">SEK 18,724</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>